<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travels Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

    <h1>Hello {{user.name}}</h1>
    <a href="/logout">Logout</a>
    <a href="/add">Add Travel Plan</a>
    <h1>Your Trip Schedules</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Destination</th>
          <th scope="col">Travel Start Date</th>
          <th scope="col">Travel End Date</th>
          <th scope="col">Plan</th>
        </tr>
      </thead>
      <tbody>
        {%for trips in user_trips%}
        <tr>
          <td scope="row"><a href="/destination/{{trips.id}}">{{trips.destination}}</a></td>
          <td>{{trips.start_date}}</td>
          <td>{{trips.end_date}}</td>
          <td>{{trips.plan}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <h1>Other User's Travel Plans</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Destination</th>
          <th scope="col">Travel Start Date</th>
          <th scope="col">Travel End Date</th>
          <th scope="col">Do You Want to Join</th>
        </tr>
      </thead>
      <tbody>
        {%for trips in other_trips%}
        <tr>
          <td>{{trips.planned_by.name}}</td>
          <td scope="row"><a href="/destination/{{trips.id}}">{{trips.destination}}</a></td>
          <td>{{trips.start_date}}</td>
          <td>{{trips.end_date}}</td>
          <td><a href="/joinTrip/{{trips.id}}">Join</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>



    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
